Esta notebook parte tomando el dataframe generado en la notebook anterior. Observamos que un porcentaje pequeño de tarjetas tiene más de un contrato y se decide eliminarlas del dataset final. A su vez, se transforma la columna de Time al formato datime para que se puedan realizar operaciones sobre dicha columna. Finalmente, se genera un dataset que cuenta con las siguientes caracterísitcas:
 - Cada fila representa un número de tarjeta único y con un único contrato.
 - En las columnas generamos: cantidad de viajes, cantidad de líneas distintas de colectivo que utiliza el pasajero, línea de mayor frecuencia, cantidad de días distintos de viaje, primer y último día de viaje, primera hora, última hora y hora promedio de viaje.
 
Nuevamente, se exporta este dataset a csv que es el que se utilizará como input en el notebook siguiente

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from scipy import stats
from datetime import datetime

In [2]:
# partimos del csv del documento anterior
df = pd.read_csv("../Mentoria_diplomatura/base_mayo22_habil_v2.csv")

In [3]:
df.head()

,LINEA,SENTIDO,FECHA,TARJETA,CONTRATO,TIME,DIA
0,L42 E,Ida,02/05/2022 04:36:14 PM,1000001,Usuario comun,16:36:14,02/05/2022
1,L35 T,Ida,02/05/2022 10:22:27 PM,1000002,Usuario comun,22:22:27,02/05/2022
2,C,Ida,02/05/2022 03:20:12 PM,1000003,Usuario comun,15:20:12,02/05/2022
3,C,Vuelta,02/05/2022 09:18:06 AM,1000003,Usuario comun,09:18:06,02/05/2022
4,C,Ida,02/05/2022 06:56:40 AM,1000004,Usuario comun,06:56:40,02/05/2022

In [4]:
df.shape

(8430650, 7)

In [5]:
df.TARJETA.nunique()

698084

In [6]:
df.LINEA.nunique()

71

In [50]:
df.DIA.value_counts()

04/05/2022    455802
12/05/2022    454585
06/05/2022    454366
03/05/2022    453346
05/05/2022    451424
10/05/2022    448905
13/05/2022    448231
23/05/2022    447513
24/05/2022    446953
09/05/2022    445510
20/05/2022    442949
16/05/2022    437444
02/05/2022    434103
27/05/2022    433996
31/05/2022    431913
19/05/2022    425781
11/05/2022    425759
26/05/2022    424968
30/05/2022    424639
18/05/2022     37000
07/05/2022      1066
21/05/2022      1052
14/05/2022       969
28/05/2022       874
25/05/2022       730
01/06/2022       697
17/05/2022        43
29/05/2022        32
Name: DIA, dtype: int64

In [7]:
df.CONTRATO.nunique()

7

In [9]:
df.DIA.nunique()

28

In [10]:
df.dtypes

LINEA       object
SENTIDO     object
FECHA       object
TARJETA      int64
CONTRATO    object
TIME        object
DIA         object
dtype: object

In [27]:
df2 = df.groupby('TARJETA')['CONTRATO'].nunique().reset_index()

In [28]:
# 9192 tarjetas tienen 2 contratos
df2.CONTRATO.value_counts()

1    688892
2      9192
Name: CONTRATO, dtype: int64

In [29]:
df2[df2['CONTRATO']>1]['CONTRATO'].count() /  df2['CONTRATO'].count()

0.013167469817385874

Solo el 1.3% de las tarjetas tienen más de un contrato, por lo que no se tomarán en cuenta para el anáisis.

In [30]:
# definimos una nueva columna que contiene 1 si la tarjeta tiene más de un contrato y 0 si la tarjeta tiene solo un contrato
df2['mascontratos'] = np.where(df2['CONTRATO']>1, 1, 0)

In [31]:
df2[df2['mascontratos']==1]

        TARJETA  CONTRATO  mascontratos
2983    1002984         2             1
3071    1003072         2             1
5483    1005484         2             1
5517    1005518         2             1
46014   1046015         2             1
...         ...       ...           ...
687518  1687519         2             1
687527  1687528         2             1
687814  1687815         2             1
695117  1695118         2             1
696887  1696888         2             1

[9192 rows x 3 columns]

In [32]:
tarjetas_2 = df2[df2['mascontratos']==1]['TARJETA'].to_list()

In [33]:
# lista de tarjetas que tienen más de un contrato
tarjetas_2

[1002984,
 1003072,
 1005484,
 1005518,
 1046015,
 1046051,
 1046077,
 1046213,
 1046217,
 1046297,
 1046323,
 1046327,
 1046367,
 1046373,
 1046385,
 1046397,
 1046404,
 1046519,
 1046663,
 1046665,
 1046707,
 1046733,
 1046747,
 1046822,
 1046928,
 1047012,
 1047116,
 1047180,
 1047244,
 1047279,
 1047312,
 1047347,
 1047364,
 1047370,
 1073297,
 1073429,
 1073527,
 1073627,
 1073637,
 1073662,
 1073762,
 1073764,
 1073952,
 1073972,
 1074092,
 1074109,
 1074132,
 1074141,
 1074214,
 1090846,
 1090895,
 1091008,
 1091126,
 1091168,
 1091220,
 1091359,
 1097856,
 1097859,
 1097867,
 1097873,
 1098008,
 1098143,
 1098205,
 1098263,
 1098346,
 1098352,
 1098361,
 1098383,
 1098465,
 1098487,
 1098523,
 1098539,
 1098608,
 1110560,
 1110593,
 1110638,
 1110781,
 1110854,
 1110863,
 1110887,
 1110899,
 1110906,
 1111014,
 1111103,
 1111118,
 1111190,
 1111243,
 1111263,
 1111291,
 1111305,
 1111368,
 1111382,
 1111475,
 1111510,
 1111584,
 1111608,
 1111616,
 1111628,
 1111641,
 1111649,
 1111671,
 1111750,
 1111857,
 1111861,
 1111873,
 1111885,
 1111906,
 1111922,
 1111993,
 1111997,
 1112039,
 1112084,
 1112164,
 1112219,
 1112242,
 1112261,
 1112266,
 1112317,
 1112441,
 1112463,
 1112516,
 1112571,
 1112615,
 1112658,
 1112668,
 1112683,
 1112693,
 1129684,
 1129749,
 1129779,
 1129782,
 1129797,
 1129812,
 1129814,
 1129818,
 1129857,
 1129883,
 1130030,
 1130032,
 1130036,
 1130052,
 1130060,
 1130101,
 1130152,
 1130164,
 1130179,
 1130228,
 1130288,
 1130297,
 1130350,
 1130407,
 1130413,
 1130502,
 1130550,
 1130593,
 1130648,
 1130663,
 1130788,
 1130798,
 1130839,
 1130841,
 1130843,
 1130911,
 1130927,
 1130946,
 1131009,
 1131349,
 1131390,
 1131392,
 1131407,
 1131564,
 1131602,
 1131656,
 1131668,
 1131676,
 1131732,
 1132459,
 1132460,
 1132750,
 1132760,
 1132818,
 1132839,
 1132846,
 1132859,
 1132892,
 1133106,
 1133126,
 1133170,
 1133188,
 1133206,
 1133231,
 1133246,
 1133248,
 1133253,
 1133279,
 1133374,
 1133515,
 1133573,
 1133580,
 1133585,
 1133629,
 1133648,
 1133662,
 1133666,
 1133719,
 1133756,
 1133767,
 1133770,
 1133771,
 1143016,
 1143021,
 1143044,
 1143055,
 1143066,
 1143092,
 1143093,
 1143149,
 1143161,
 1143527,
 1143545,
 1143667,
 1143780,
 1143783,
 1143819,
 1143824,
 1143849,
 1143886,
 1143911,
 1143942,
 1143954,
 1143994,
 1144190,
 1144201,
 1144208,
 1144398,
 1144419,
 1144441,
 1144445,
 1144536,
 1144539,
 1144925,
 1145142,
 1145162,
 1145225,
 1145231,
 1145233,
 1145238,
 1145254,
 1145258,
 1145297,
 1167720,
 1171368,
 1171740,
 1171774,
 1171879,
 1172432,
 1173029,
 1173030,
 1173100,
 1173273,
 1173283,
 1173291,
 1173465,
 1173471,
 1173494,
 1173540,
 1173543,
 1173606,
 1173633,
 1173706,
 1173741,
 1173781,
 1173840,
 1174096,
 1174117,
 1174131,
 1174175,
 1180258,
 1180259,
 1180260,
 1180261,
 1180263,
 1180269,
 1180274,
 1180278,
 1180279,
 1180280,
 1180284,
 1180285,
 1180289,
 1180293,
 1180299,
 1180301,
 1180308,
 1180309,
 1180312,
 1180316,
 1180317,
 1180321,
 1180324,
 1180327,
 1180339,
 1180345,
 1180347,
 1180348,
 1180349,
 1180351,
 1180353,
 1180357,
 1180358,
 1180360,
 1180362,
 1180363,
 1180365,
 1180366,
 1180368,
 1180370,
 1180372,
 1180374,
 1180375,
 1180378,
 1180379,
 1180381,
 1180382,
 1180384,
 1180386,
 1180387,
 1180390,
 1180391,
 1180394,
 1180399,
 1180400,
 1180404,
 1180406,
 1180409,
 1180410,
 1180416,
 1180417,
 1180418,
 1180422,
 1180424,
 1180425,
 1180428,
 1180429,
 1180431,
 1180432,
 1180433,
 1180435,
 1180436,
 1180439,
 1180441,
 1180447,
 1180449,
 1180452,
 1180454,
 1180456,
 1180464,
 1180465,
 1180467,
 1180469,
 1180472,
 1180473,
 1180474,
 1180476,
 1180477,
 1180479,
 1180484,
 1180487,
 1180492,
 1180493,
 1180494,
 1180496,
 1180498,
 1180499,
 1180501,
 1180502,
 1180503,
 1180504,
 1180506,
 1180508,
 1180509,
 1180511,
 1180513,
 1180514,
 1180515,
 1180519,
 1180520,
 1180521,
 1180522,
 1180525,
 1180526,
 1180534,
 1180536,
 1180537,
 1180538,
 1180540,
 1180543,
 1180546,
 1180547,
 1180548,
 1180550,
 1180551,
 1180553,
 1180554,
 1180557,
 1180558,
 1180560,
 1180563,
 1180568,
 1180569,
 1180571,
 1180572,
 1180573,
 1180574,
 1180575,
 1180579,
 1180580,
 1180581,
 1180582,
 1180585,
 1180588,
 1180590,
 1180591,
 1180592,
 1180593,
 1180594,
 1180595,
 1180596,
 1180597,
 1180598,
 1180600,
 1180601,
 1180602,
 1180603,
 1180605,
 1180607,
 1180608,
 1180611,
 1180615,
 1180616,
 1180618,
 1180619,
 1180620,
 1180621,
 1180622,
 1180624,
 1180625,
 1180626,
 1180627,
 1180631,
 1180632,
 1180642,
 1180643,
 1180645,
 1180646,
 1180647,
 1180648,
 1180649,
 1180653,
 1180654,
 1180655,
 1180658,
 1180659,
 1180660,
 1180661,
 1180663,
 1180665,
 1180670,
 1180675,
 1180677,
 1180679,
 1180680,
 1180684,
 1180689,
 1180693,
 1180699,
 1180700,
 1180703,
 1180709,
 1180714,
 1180716,
 1180726,
 1180728,
 1180732,
 1180734,
 1180735,
 1180737,
 1180739,
 1180741,
 1180744,
 1180746,
 1180747,
 1180749,
 1180750,
 1180753,
 1180755,
 1180756,
 1180757,
 1180761,
 1180762,
 1180763,
 1180765,
 1180768,
 1180772,
 1180773,
 1180774,
 1180775,
 1180779,
 1180781,
 1180783,
 1180786,
 1180788,
 1180790,
 1180792,
 1180797,
 1180799,
 1180800,
 1180801,
 1180804,
 1180805,
 1180806,
 1180808,
 1180809,
 1180812,
 1180813,
 1180815,
 1180816,
 1180817,
 1180818,
 1180819,
 1180820,
 1180821,
 1180823,
 1180825,
 1180827,
 1180828,
 1180842,
 1180844,
 1180845,
 1180850,
 1180851,
 1180855,
 1180856,
 1180857,
 1180859,
 1180860,
 1180862,
 1180864,
 1180865,
 1180867,
 1180868,
 1180870,
 1180873,
 1180874,
 1180877,
 1180878,
 1180881,
 1180882,
 1180883,
 1180884,
 1180886,
 1180890,
 1180892,
 1180896,
 1180897,
 1180900,
 1180903,
 1180904,
 1180905,
 1180906,
 1180907,
 1180908,
 1180910,
 1180911,
 1180912,
 1180913,
 1180915,
 1180916,
 1180918,
 1180920,
 1180925,
 1180929,
 1180930,
 1180938,
 1180939,
 1180940,
 1180947,
 1180948,
 1180950,
 1180951,
 1180952,
 1180955,
 1180956,
 1180957,
 1180958,
 1180959,
 1180961,
 1180962,
 1180969,
 1180970,
 1180971,
 1180973,
 1180974,
 1180975,
 1180976,
 1180979,
 1180981,
 1180982,
 1180983,
 1180984,
 1180985,
 1180987,
 1180988,
 1180990,
 1180994,
 1180995,
 1180997,
 1181000,
 1181006,
 1181007,
 1181009,
 1181012,
 1181013,
 1181016,
 1181020,
 1181021,
 1181022,
 1181023,
 1181026,
 1181027,
 1181028,
 1181030,
 1181031,
 1181032,
 1181035,
 1181036,
 1181037,
 1181038,
 1181039,
 1181041,
 1181043,
 1181045,
 1181047,
 1181049,
 1181050,
 1181052,
 1181055,
 1181059,
 1181061,
 1181063,
 1181065,
 1181066,
 1181067,
 1181068,
 1181069,
 1181071,
 1181073,
 1181074,
 1181075,
 1181076,
 1181080,
 1181081,
 1181082,
 1181085,
 1181087,
 1181088,
 1181091,
 1181092,
 1181094,
 1181097,
 1181100,
 1181101,
 1181105,
 1181107,
 1181111,
 1181114,
 1181115,
 1181118,
 1181119,
 1181123,
 1181127,
 1181128,
 1181132,
 1181135,
 1181136,
 1181138,
 1181139,
 1181140,
 1181141,
 1181143,
 1181145,
 1181146,
 1181148,
 1181157,
 1181158,
 1181159,
 1181161,
 1181163,
 1181164,
 1181165,
 1181167,
 1181169,
 1181172,
 1181173,
 1181174,
 1181177,
 1181178,
 1181179,
 1181180,
 1181181,
 1181192,
 1181195,
 1181198,
 1181199,
 1181204,
 1181207,
 1181208,
 1181211,
 1181213,
 1181214,
 1181217,
 1181218,
 1181219,
 1181222,
 1181223,
 1181224,
 1181225,
 1181227,
 1181228,
 1181229,
 1181230,
 1181233,
 1181234,
 1181235,
 1181239,
 1181240,
 1181242,
 1181243,
 1181247,
 1181249,
 1181251,
 1181252,
 1181254,
 1181257,
 1181258,
 1181259,
 1181260,
 1181262,
 1181263,
 1181264,
 1181268,
 1181270,
 1181271,
 1181274,
 1181280,
 1181281,
 1181282,
 1181283,
 1181285,
 1181287,
 1181289,
 1181291,
 1181292,
 1181293,
 1181294,
 1181295,
 1181296,
 1181299,
 1181300,
 1181304,
 1181305,
 1181306,
 1181309,
 1181311,
 1181312,
 1181313,
 1181314,
 1181317,
 1181319,
 1181323,
 1181324,
 1181327,
 1181329,
 1181333,
 1181335,
 1181336,
 1181339,
 1181343,
 1181344,
 1181345,
 1181346,
 1181349,
 1181352,
 1181354,
 1181356,
 1181357,
 1181358,
 1181359,
 1181360,
 1181366,
 1181367,
 1181368,
 1181370,
 1181372,
 1181373,
 1181377,
 1181378,
 1181379,
 1181381,
 1181383,
 1181385,
 1181395,
 1181399,
 1181400,
 1181402,
 1181404,
 1181406,
 1181407,
 1181412,
 1181415,
 1181416,
 1181417,
 1181418,
 1181419,
 1181421,
 1181422,
 1181425,
 1181437,
 1181438,
 1181439,
 1181441,
 1181443,
 1181444,
 1181446,
 1181447,
 1181448,
 1181450,
 1181452,
 1181453,
 1181454,
 1181459,
 1181461,
 1181465,
 1181466,
 1181470,
 1181473,
 1181476,
 1181477,
 1181480,
 1181481,
 1181485,
 1181486,
 1181487,
 1181488,
 1181492,
 1181494,
 1181495,
 1181496,
 1181497,
 1181499,
 1181501,
 1181503,
 1181507,
 1181508,
 1181509,
 1181511,
 1181515,
 1181518,
 1181521,
 1181522,
 1181523,
 1181524,
 1181525,
 1181526,
 1181527,
 1181529,
 1181531,
 1181534,
 1181536,
 1181537,
 1181538,
 1181539,
 1181545,
 1181547,
 1181548,
 1181549,
 1181551,
 1181554,
 1181555,
 1181556,
 1181557,
 1181558,
 1181563,
 1181565,
 1181567,
 1181568,
 1181572,
 1181574,
 1181576,
 1181579,
 1181580,
 1181583,
 1181584,
 1181587,
 1181588,
 1181589,
 1181590,
 1181591,
 1181592,
 1181594,
 1181599,
 1181601,
 1181602,
 1181603,
 1181605,
 1181606,
 1181611,
 1181612,
 1181618,
 1181619,
 1181622,
 1181623,
 1181625,
 1181626,
 1181631,
 1181632,
 1181633,
 1181634,
 1181636,
 1181639,
 1181645,
 1181647,
 1181648,
 1181649,
 1181651,
 1181655,
 1181656,
 1181658,
 1181659,
 1181663,
 1181666,
 1181667,
 1181676,
 1181679,
 1181683,
 1181685,
 1181687,
 1181688,
 1181689,
 1181690,
 1181691,
 1181693,
 1181695,
 1181697,
 1181702,
 1181703,
 1181709,
 1181712,
 1181713,
 1181714,
 1181715,
 1181716,
 1181717,
 1181720,
 1181721,
 1181723,
 1181724,
 1181725,
 1181729,
 1181731,
 1181732,
 1181736,
 1181737,
 1181738,
 1181745,
 1181748,
 1181751,
 1181754,
 1181759,
 1181760,
 1181761,
 1181763,
 1181764,
 1181765,
 1181766,
 1181770,
 1181771,
 1181776,
 1181777,
 1181778,
 1181779,
 1181780,
 1181783,
 1181784,
 1181789,
 1181805,
 1181808,
 1181809,
 1181819,
 1181822,
 ...]

In [34]:
# Creamos un nuevo dataset que no incluye las tarjetas con más de un contrato
df_clean = df[~df['TARJETA'].isin(tarjetas_2)]

In [35]:
df_clean.shape

(8166309, 7)

In [36]:
df_clean.head()

,LINEA,SENTIDO,FECHA,TARJETA,CONTRATO,TIME,DIA
0,L42 E,Ida,02/05/2022 04:36:14 PM,1000001,Usuario comun,16:36:14,02/05/2022
1,L35 T,Ida,02/05/2022 10:22:27 PM,1000002,Usuario comun,22:22:27,02/05/2022
2,C,Ida,02/05/2022 03:20:12 PM,1000003,Usuario comun,15:20:12,02/05/2022
3,C,Vuelta,02/05/2022 09:18:06 AM,1000003,Usuario comun,09:18:06,02/05/2022
4,C,Ida,02/05/2022 06:56:40 AM,1000004,Usuario comun,06:56:40,02/05/2022

In [37]:
# Le damos el formato datetime a la columna TIME para luego poder hacer cálculos sobre esa columna
df_clean['TIME'] =  pd.to_datetime(df_clean['TIME'])

/tmp/ipykernel_153/3305669969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['TIME'] =  pd.to_datetime(df_clean['TIME'])

In [39]:
#Creamos el nuevo dataset que tiene en cada fila un número de tarjeta distinto y, en cada columna,
#algunas variables que van a servir para intentar predecir el contrato 
df_clean = df_clean.groupby(['TARJETA', 'CONTRATO']).agg({'TARJETA': 'count', 
                                               'LINEA':['nunique', lambda x:stats.mode(x)[0]],
                                               'DIA':['nunique', 'first', 'last'],
                                             'TIME':['first', 'last','mean']})

In [45]:
df_clean = df_clean.reset_index()

In [46]:
df_clean.head()

   TARJETA       CONTRATO TARJETA   LINEA                DIA              \
                            count nunique <lambda_0> nunique       first
0  1000001  Usuario comun      20       7      [L25]       7  02/05/2022
1  1000002  Usuario comun       4       2    [L35 T]       3  02/05/2022
2  1000003  Usuario comun      22       4        [C]      10  02/05/2022
3  1000004  Usuario comun      52       3        [C]      19  02/05/2022
4  1000005  Usuario comun      20       4      [L74]      18  02/05/2022

                             TIME                      \
         last               first                last
0  30/05/2022 2022-08-15 16:36:14 2022-08-15 21:31:39
1  05/05/2022 2022-08-15 22:22:27 2022-08-15 20:11:31
2  30/05/2022 2022-08-15 15:20:12 2022-08-15 09:16:09
3  31/05/2022 2022-08-15 06:56:40 2022-08-15 22:08:36
4  31/05/2022 2022-08-15 06:03:45 2022-08-15 05:58:58


                           mean
0 2022-08-15 19:34:14.900000000
1 2022-08-15 20:49:39.000000000
2 2022-08-15 11:31:15.954545408
3 2022-08-15 14:51:13.461538560
4 2022-08-15 06:49:33.849999872

In [47]:
df_clean.shape

(688892, 11)

In [51]:
# Exportamos el nuevo dataset a un archivo csv.
df_clean.to_csv("../Mentoria_diplomatura/base_mayo22_habil_v3.csv", index=False)